body {
    background-color: aliceblue;
    margin: 0;
    line-height: 30px;
}

header {
    background-color: steelblue;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1, h2, h3{
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

header h1 {
    color: white;
    font-size: 50px;
}

header p{
    color: white;
    font-size: 20px;
}

header img {
    border-radius: 170px;
    width: 300px;
    border: 10px solid white;
}

main {
    max-width: 800px;
    margin:   auto;
    padding: 20px;    
    
}

main img{
    max-width: 100%;
}

h2{
    font-size: 40px;
    color: midnightblue;
    margin: 40px 0 10px;
}

h3{
    font-size: 30px;
    color: midnightblue;
}

a{
    color: midnightblue;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
}

a:hover{
    color: steelblue;
}

footer{
    background-color: steelblue;
    text-align: center;
    color: white;
    padding: 50px;
}

footer p{
    margin: 0;
}

footer a{
    color: white;
}

p.caption{
    color: darkslategray;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}